.search-bar {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 8px;
  width: 300px;
  border-radius: 20px;
}

.search-bar button {
  background-color: #39569c;
  color: #fff;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 20px;
}

.advanced-search {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #39569c;
  border-radius: 8px;
  width: 90%;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advanced-search h3 {
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 10px;
}

.advanced-search form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.advanced-search label {
  margin-bottom: 0;
  margin-right: 5px;
  color: #fff;
}

.advanced-search input,
.advanced-search select {
  padding: 8px;
  box-sizing: border-box;
  width: 200px;
}

.advanced-search button {
  background-color: #304b87;
  color: #fff;
  padding: 8px 10px; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.advanced-search button:hover {
  background-color: #253d6b;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

header {
  position: relative;
}

.profile-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.profile-picture img {
  width: 25px;
  height: 25px;
}

.post-header h2 {
  font-size: 14px;
}

.profile-container h2 {
  font-size: 14px;
}

aside.bg-light {
  background-color: transparent !important;
  border: none !important;
}

.btn-sm {
  width: 75px;
  height: 50px;
  margin-top: 18px;
}

.custom-width {
  max-width: 800px;
}

.profile-container {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: flex;
    align-items: center;
}
  
  .profile-container .profile-picture img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .profile-container h2 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .profile-container .profile-info p {
    margin: 5px 0;
  }
  
  .profile-container button {
    background-color: #4267b2;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .profile-container button:hover {
    background-color: #39569c;
  }

