.search-bar {
  margin-top: 10px;
  margin-bottom: 20px; /* Añadido margen inferior */
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 8px;
  width: 300px; /* Ajustado el ancho del input */
  border-radius: 20px;
}

.search-bar button {
  background-color: #39569c;
  color: #fff;
  padding: 8px 15px; /* Ajustado el padding horizontal */
  border: none;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 20px;
}

.advanced-search {
  margin-top: 20px;
  margin-bottom: 20px; /* Añadido margen inferior */
  padding: 10px;
  background-color: #39569c;
  border-radius: 8px;
  width: 90%; /* Ajustado el ancho */
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advanced-search h3 {
  font-size: 1.2em; /* Ajustado el tamaño de fuente */
  color: #fff;
  margin-bottom: 10px; /* Aumentado el margen inferior */
}

.advanced-search form {
  display: flex;
  flex-wrap: wrap; /* Añadido wrap para que los elementos se ajusten */
  justify-content: center;
  gap: 10px;
}

.advanced-search label {
  margin-bottom: 0;
  margin-right: 5px;
  color: #fff;
}

.advanced-search input,
.advanced-search select {
  padding: 8px;
  box-sizing: border-box;
  width: 200px; /* Ajustado el ancho de los inputs */
}

.advanced-search button {
  background-color: #304b87;
  color: #fff;
  padding: 8px 10px; /* Ajustado el padding horizontal */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.advanced-search button:hover {
  background-color: #253d6b;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

header {
  position: relative; /* Ajuste para que los elementos posicionados dentro del header sean relativos a él */
}

.profile-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Ajustes para que la imagen de perfil sea más pequeña */
.profile-picture img {
  width: 25px;
  height: 25px;
}

.post-header h2 {
  font-size: 14px;
}

/* Reducir el tamaño de la fuente del nombre de usuario */
.profile-container h2 {
  font-size: 14px;
}

/* Eliminar la barra de color gris */
aside.bg-light {
  background-color: transparent !important;
  border: none !important;
}

.btn-sm {
  width: 75px;
  height: 50px;
  margin-top: 18px; /* Agrega un margen superior de 5px */
}

.custom-width {
  max-width: 800px; /* Cambia el valor según lo que necesites */
}